.book {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #BE93C5, #7BC6CC);
  display: flex;
  justify-content: center;
  align-items: center;

}

.button {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: transparent;
  background-repeat: no-repeat;
  border: 0;
  padding: 8px;
}


.left {
  background-image: url('./icons/back-button.png');
}

.right {
  background-image: url('./icons/right.png');

}

.close {
  float: right;
  background-image: url('./icons/cancel.png');


}

.page {
  display: inline-block;
  height: 80vh;
  width: 40vw;
  padding: 20px;
  margin: 10px;
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 50px;
  font-size: 4vmin;

}

.modal {
  width: 25%;
  padding: 10px;
  height: 15%;
  border: #BE93C5 solid 2px;
  border-radius: 30px;
  position:fixed;
  background: white;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.inlinetext {
  display: inline;
}

span:hover {
  color: #7BC6CC;
  cursor: pointer;
}

.loading {
  font-size: 30px;
  margin: 100px;
}